/*Fuente*/
@font-face {
  font-family: regular;
  src: url("/fuentes/GothamLight.ttf") format('truetype');
}

@font-face {
  font-family: negrita;
  src: url("/fuentes/GothamBold.ttf") format('truetype');
}

/*Body*/

@media screen and (max-width: 767px) {
    .derechos-texto p {
      font-size: 5vw;
    }
    .Titulo {
      font-size: 7vw;
    }
    .logoi{
      width: 30%;
      height: auto;
    }
  }

  @media screen and (min-width: 767px) {
    .derechos-texto p {
      font-size: 1.5vw;
    }
    .Titulo {
      font-size: 3vw;
    }
    .logoi{
      width: 10%;
      height: auto;
    }
  }