*{
  padding: 0%;
  margin: 0%;
  font-family: regular;
}

/*CARA PRINCIPAL DE LA PÁGINA*/
.div1{
    
  background-image: url("/img/Fondo\ 2.jpg");
  padding-bottom: 13%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
}

/*ESTILOS PARA LA NAVBAR*/

.nav {
  height: 25%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.274);
  justify-content: center;  
}

.logoi {
  margin-left: 50%;
  display: block;
  width: 130%;
  height: auto;
}



.menu{
 
  display: flex;
  margin-left: 40%;
  padding-top: 1%;
  width: 100%;
  height: auto;
}
.menu a {
  margin-top: 4%;
  margin-right: 10%;
  height: 30%;
  font-family: negrita;
  font-size: 2.3vw;
  font-weight: bolder;
  text-transform: uppercase;
  color: #f53949;
  text-decoration: none;
  position: relative; /* Agregar posición relativa para elementos internos */
}

.menu a::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Ajustar según el efecto */
  left: 0;
  width: 100%;
  height: 2px; /* Ajustar según el efecto */
  background-color: #f53949;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: bottom;
}

.menu a:hover::after {
  transform: scaleX(1);
}

.menu a:hover {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Agregar sombra debajo de las letras */
}

/*INICIO*/

.div2 {
  display: flex;
  height: 100vh;
  background-color: rgb(212, 212, 212);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.322);
  justify-content: center center;

}

.inicio{

  margin-top: 1%;
  margin-left: 3%;
  height: 15%;
  text-transform: uppercase;
  font-family: negrita;
  font-size: 5vw;  
}

.izq {
  margin-top: 9.5%;
  margin-right: 3%;
  height: 72%;
  width: 25%;
  border-radius: 35px;
  background-image: url("/img/ye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.616);
}

.der {
  border-radius: 35px;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  width: 40%;
  height: 72%;
  margin-top: 7%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.356);
}
.der h2{
  font-family: negrita;
  font-size: 2vw;
}

.der p{
  font-size: 1.1vw;
}

/*Animacion al hacer scroll*/

.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated.show {
  opacity: 1;
  transform: translateY(0);
}


.Copyright{

  background-color: #1f1d1d;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center center;

}

.Copyright p {

  width: 25%;
  color: #f5f0ed;
  font-size: 1vw;
  padding-left: 2%;
  margin-top: 0%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;

}

.Copyright a{

  border-radius: 20px;
  width: auto;
  color: #f5f0ed;
  margin-top: 0%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  font-size: 1vw;
  text-decoration: none;
}

.Copyright a:hover{
  background-color: rgb(82, 80, 80);
  
}