*{
  padding: 0%;
  margin: 0%;
}

.div1{
    
  background-image: url("/img/Fondo\ 2.jpg");
  padding-bottom: 13%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 65vh;
}

.nav {
  height: 30%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.274);
  justify-content: center;  
}

.logoi {
  margin-left: 50%;
  display: block;
  width: 130%;
  height: auto;
}



.menu{
 
  display: flex;
  margin-left: 40%;
  padding-top: 1%;
  width: 100%;
  height: auto;
}
.menu a{
  
  border:yellow solid 1px ;
  margin-top: 4%;
  margin-right: 10%;
  height: 30%;
  font-size: 2.3vw;
  font-weight: bolder;
  text-transform: uppercase;
  color: #f53949;
  text-decoration: none;

}

.menu a:hover{

  color: #fff; 
  background-color: #f53949; 
}