*{
  padding: 0%;
  margin: 0%;
}

.div1{
    
  background-image: url("/img/Fondo\ 2.jpg");
  padding-bottom: 13%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 55vh;
}

.nav {
  display: flex;
  background-color: transparent;
}

.logoi{
  height: 25%;
  margin-left: 7%;
  margin-top: 1%;
}



.menu{
  display: flex;
}