* {
    padding: 0%;
    margin: 0%;
    font-family: regular;
}

.logoi {
    margin-right: 30%;
    display: block;
    width: 10%;
    height: auto;
  }
  
  .topnav{
    display: flex;
    height: 25%;
    overflow: hidden;
    background-color:#fff;
    justify-content: space-around;
  }
  
  .topnav a{
   
    margin-top: 1%;
    font-family: negrita;
    font-size: 3vw;
    height: auto;
    display: block;
    color:#f53949;
    padding: 2%;
    text-decoration: none;
   
  }
  
  .topnav a:hover{
  
    color: rgb(161, 158, 158);
  }
  
  .topnav .icon{
    display: none;
  }
  
  

.div1 {
    padding-bottom: 3%;
}

.up h2 {
    margin-top: 1%;
    margin-left: 3%;
    height: 15%;
    text-transform: uppercase;
    font-family: negrita;
    font-size: 5vw;
}

/*SLIDES*/

.tienda-ttl{
    font-family: negrita;
    font-size: 10vw;
    opacity: 50%;
}
.container {
    width: 100%;
    height: 70vh;
    background-color: #fff;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide1 {
    background-image: url(/img/kanye1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.slide2 {
    background-image: url(/img/kanye2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.slide3 {
    background-image: url(/img/kanye3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.swiper-button-next,
.swiper-button-prev {

    margin-top: 9%;
    font-size: 12px;
    color: grey;
}

/*Cartas*/

.albu {
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-family: negrita;
    font-size: 3vw;
}

.yeezy {
    margin: 2%;
    font-family: negrita;
    font-size: 3vw;
}

.arriba {
    display: flex;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    justify-content: space-around;
}

.abajo {

    display: flex;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    justify-content: space-around;

}

.cartas {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}



.cuerpo-carta {

    padding: 2%;
}

.titulo-carta {

    font-family: negrita;
    font-size: 1.4vw;
    padding-bottom: 5%;
}


.txt-carta {

    font-size: 1vw;
    margin-bottom: 4%;
}



.boton{

    border: #e4e4e4 1px solid;
    border-radius: 15px;
    padding:2%;
    text-decoration: none;
    margin-bottom: 10%;
}

.boton:hover{
    background-color: #e4e4e4;
    color: white;
}


.cuatro{
    padding-bottom: 5%;
}




.Copyright {

    background-color: #1f1d1d;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center center;

}

.Copyright p {

    width: 25%;
    color: #f5f0ed;
    font-size: 1vw;
    padding-left: 2%;
    margin-top: 0%;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;

}

.Copyright a {

    border-radius: 20px;
    width: auto;
    color: #f5f0ed;
    margin-top: 0%;
    padding-top: 0.5%;
    margin-left: 15%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1vw;
    text-decoration: none;
}

.Copyright a:hover {
    background-color: rgb(82, 80, 80);

}